
<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Node js</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi nihil molestias!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Consequatur iure sapiente, voluptates facilis repellendus maxime consequuntur. 
        Laudantium minima sequi veniam, cumque, quas sit fuga distinctio obcaecati ipsa 
        assumenda nisi nihil.</p>

</div>